.newProduct {
  flex: 4;
}

.addProductTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.addProductContainer {
  margin: 0px 40px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.addProductForm {
  display: flex;
}

.addProductFormTextFields {
  flex: 1;
  margin: 10px;
  padding: 30px;
}

.addProductItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: rgb(46, 46, 46);
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  height: 30px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.addProductItem > textarea {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.addProductItem > select {
  height: 40px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}

/* .addProductItem > input,
textarea,
select:focus {
  outline: none;
  border-color: rgb(97, 97, 219);
} */

.addProductFormImgAndSizesFields {
  flex: 1;
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.uploadImageProduct {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.productUploadImage {
  display: flex;
  align-items: center;
}

.productUploadImage > img {
  border: 1px dashed lightgray;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: contain;
  margin-right: 20px;
}

.productUploadImage > label {
  cursor: pointer;
}

.addAvailableSizes {
  flex: 1;
  margin: 20px 0px;
}

.addAvailableSizes > label {
  color: rgb(46, 46, 46);
  font-weight: 600;
  margin-bottom: 10px;
}

.listSize {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sizeOption {
  width: 45px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 1px dashed black;
  border-radius: 5px;
  margin: 5px 5px;
  cursor: pointer;
}

.sizeOption:hover {
  background-color: black;
  color: white;
}

.sizeOption.active {
  background-color: black;
  color: white;
}

.addProductButton {
  /* margin: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.addProductButton > button {
  margin-bottom: 20px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(7, 211, 24);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.addProductButton > button:disabled {
  background-color: lightgray;
  color: black;
  font-weight: 600;
  cursor: not-allowed;
}
